pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/out/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.git/
.idea/
.calva/
.portal/
.lsp/
*.iml
.shadow-cljs/
node_modules/
package.json
package-lock.json
.cljs_node_repl
.clj-kondo/
.claude/settings.local.json
.mcp.json
